{
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "react/no-danger": 0,
    "no-plusplus": 0,
    "template-curly-spacing": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "linebreak-style": 0,
    "operator-linebreak": 0,
    "no-unused-vars": 0,
    "react/destructuring-assignment": 0,
    "implicit-arrow-linebreak": 0,
    "arrow-body-style": 0
  },
  "globals": {
    "window": true,
    "FormData": true,
    "fetch": true
  }
}
