/*.vertical-timeline-element-icon span {*/
/*  display: block;*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  position: relative;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  margin-left: -12px;*/
/*  margin-top: -12px;*/
/*}*/


//.interests .ant-list-item-meta-title {
//    font-size: 1.25rem;
//}

.homepageSection {
    margin-top: 0.8rem;
}

.listItem {
    padding-left: 0;
    padding-right: 0;
}
