@import (reference) '../../styles/index.less';


.postCard{
    height: 100%;

    .postCardImg{
        width: 100%;
        padding-top: 56.25%;
        background-repeat: no-repeat;
        background-size: cover
    }

    .dateHolder{
        background: #ebbaa1;
        color: white;
        padding: 6px;
        //border-radius: 7px;
        font-size: @font-size-small;
        margin-right: 8px;
        position: absolute;
        top: 1px;
        border-radius: @border-radius-base;
        left: 6px;
    }
    //a{
    //    color: rgba(0, 0, 0, 0.65);
    //    &:hover{
    //        color: rgba(0, 0, 0, 0.45);
    //    }
    //}

    .title {
        font-size: 1.25rem;
        white-space: normal;
        line-height: 80%;
    }
}
