@import (reference) '../../styles/index.less';

.projectCard{
     //margin-top: 20px;

    .postCardImg{
        width: 100%;
        padding-top: 56.25%;
        //height: 164px;
        background-repeat: no-repeat;
        //border-radius: 10px;
        //box-shadow: 1px 3px 16px #a7a7a7;
        background-size: cover
    }
    .mrTp20{
        margin-top: 20px
    }
    .dateHolder{
        background: #ebbaa1;
        //color: white;
        padding: 6px;
        border-radius: 7px;
        font-size: @font-size-small;
        margin-right: 8px;
    }
    //a{
    //    color: rgba(0, 0, 0, 0.65);
    //    &:hover{
    //        color: rgba(0, 0, 0, 0.45);
    //    }
    //}

    .divider{
        border-left: 1.5px solid rgba(0, 0, 0, 0.2);
        top: 0.1em;
        height: 1.2em;
        margin-left: 6px;
        margin-right: 6px;
    }

    .title {
        font-size: 1.25rem;
        white-space: normal;
        line-height: 80%;
    }

}
